%p
  %b.lead Name: #{@user.name}
%p
  %b.lead Email: #{@user.email}

.clear

%p.lead #{@user.name}'s Books
- if @user_books.blank?
  %p You haven't added any books yet.
- else
  = render :partial => 'books/index_partial', :locals => { :books => @user_books, :show_user => @user }

%br

- if @can_edit
  = link_to 'Add a new Book', new_book_path, :class => 'btn'
  = link_to 'Edit Profile', edit_user_path(@user), :class => 'btn'
= link_to 'Back', :back, :class => 'btn'
